*{
  margin: 0;
}

.app{
  background-color: #fafafa;
}
.app__header {
  background-color: white;
  object-fit: contain; /*not streched*/
  border-bottom: 1px solid lightgray;
  padding: 10px; /*Will add it inside, margin will add it outside*/
}

.app__headerImage{
  width: 150px;
}

.modal__div{
  position: 'absolute' as 'absolute';
  top: '50%';
  left: '50%';
  transform: 'translate(-50%, -50%)';
  width: 400;
  border: '2px solid #000';
  box-shadow: 24;
  background-color: aquamarine;
}

.app__signup{
  display: flex;
  flex-direction: column;
  text-align: center;
}
